<%for (let orden of ordenes){%>
    <div class="col l3 m4 s12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="<%=orden.foto%>">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%=orden.nombre%><i class="material-icons right">more_vert</i></span>
            <p><%= orden.fecha %></p>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%=orden.nombre%><i class="material-icons right">close</i></span>
            <p><%= orden.cantidad%></p>
            </div>
        </div>
    </div>
<%}%>