<!DOCTYPE html>
<html lang="es-mx">
<%- include('includes/head.ejs')%>
<%- include('includes/navbar.ejs')%>
<body>
    <div class="container">
        <h1><%=titulo%></h1>

        <table class="highlight">
          <thead>
              <tr>
                  <th>Lugares Disponibles</th>
                  <th>Numero de Identificacion</th>
                  <th>Tipos de Incidentes</th>
                  <th>Numero de Identificacion</th>
              </tr>
          </thead>
          <tbody>
            <%- include('includes/disponible.ejs')%>
          </tbody>
      </table>

        <form action ="nuevo-incidente" method="POST">

            <label for="lugar">Lugar de incidente</label>
            <input type="number" name="lugar" required>

            <label for="tipo">Tipo de incidente</label>
            <input type="number" name="tipo">

            <input type="submit" name="enviar" value="Registrar" class="btn">
        </form>
        
    </div>
</body>
<%- include('includes/footer.ejs')%>
</html>